# Variables d'environnements pour connexion à la bdd
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DATABASE_URL=

# Variables d'environnements pour enregistrement de l'application Azure AD 
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
AUTH_SECRET=  # Added by `npx auth`. Read more: https://cli.authjs.dev
NEXTAUTH_URL=

